/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #5f5f5f;
  font-size: 1em;
  line-height: 1.4;
  font-family: Arial; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Mixins */
/* Main Layout styling */
body {
  overflow-x: hidden; }

.main {
  width: 85%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 75px; }

.fun .main,
.contact .main {
  width: 60%; }

footer {
  background-color: #343434;
  padding: 50px 12.5%;
  color: #D6D6D6;
  text-align: center; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      padding: 0;
      margin: 0;
      display: inline-block; }
      footer ul li a {
        color: #A7B2E6;
        margin-right: 15px;
        font-size: 2em; }
      footer ul li a:hover {
        color: #fff; }

/* Carousel styling */
.slider {
  position: relative;
  display: block;
  min-height: 450px;
  overflow: hidden; }

.slide {
  text-align: center;
  padding: 50px;
  position: absolute;
  background-color: #ccc;
  width: calc(100% - 100px);
  display: none;
  z-index: 1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.slide.active {
  display: block;
  z-index: 3;
  left: 0; }

.slide.prev {
  display: block;
  z-index: 2;
  left: 0; }

.slide.next {
  display: block;
  z-index: 2;
  left: 100%; }

.slide2 {
  background-color: pink; }

.slide3 {
  background-color: yellow; }

.slide4 {
  background-color: purple; }

#prev, #next {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  color: #5f5f5f;
  padding: 0;
  font-size: 2em;
  z-index: 4; }

#prev {
  left: 10px; }

#next {
  right: 10px; }

h1 {
  margin-top: 0; }

/* Main Nav styling */
nav {
  text-align: center; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      margin: 0;
      padding: 0;
      display: inline-block; }
    nav ul a {
      text-decoration: none; }

/* Project Block styling */
.project {
  margin-bottom: 100px; }

/* all project imgs */
.proj-holiday-landing-pg {
  background: url("../img/holiday-landing-pg.png"); }

.proj-hoot-art {
  background: url("../img/hootart.png"); }

.proj-formtool {
  background: url("../img/form-tool.png"); }

.proj-championships {
  background: url("../img/20ss-championship.png"); }

.proj-email-popup {
  background: url("../img/email-popup.png"); }

.proj-templates {
  background: url("../img/landing-pg-template.png"); }

.proj-img-container {
  background-color: #ccc;
  display: inline-block;
  width: 70%;
  float: left;
  border: solid 4px;
  background-size: cover;
  height: 500px;
  -webkit-filter: grayscale(25%);
  filter: grayscale(25%); }
  .proj-img-container img {
    width: 100%;
    min-height: 550px; }

.proj-desc-container {
  display: inline-block;
  width: 25%;
  padding-left: 4%;
  float: right; }

span.tag {
  display: inline-block;
  padding: 5px 10px;
  border: solid 2px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 0.8em;
  color: #5f5f5f; }

.view-proj {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  border-radius: 6px;
  background: linear-gradient(#C0CBFF, #929DD4);
  box-shadow: inset 1px 2px 2px #DEE2F3,  inset -2px -2px 2px #8A8FAD;
  color: white;
  text-shadow: -1px -1px 1px #707EC7;
  letter-spacing: 1px; }

/* Fun Page styling */
.fun-section {
  margin-bottom: 100px;
  text-align: center; }

.fun-container {
  width: 100%;
  min-height: 600px;
  background: #ccc; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
