@-webkit-keyframes colorChange {
	0% {background-color: #A9B4E9;}
	25% {background-color: #82E8BF;}
	50% {background-color: #E8D377;}
	75% {background-color: #CBA3EF;}
	100% {background-color: #A9B4E9;}
}

@-webkit-keyframes colorChangeText {
	0% {color: #A9B4E9;}
	25% {color: #82E8BF;}
	50% {color: #E8D377;}
	75% {color: #CBA3EF;}
	100% {color: #A9B4E9;}
}

@-moz-keyframes colorChange {
	0% {background-color: #A9B4E9;}
	25% {background-color: #82E8BF;}
	50% {background-color: #E8D377;}
	75% {background-color: #CBA3EF;}
	100% {background-color: #A9B4E9;}
}

@-moz-keyframes colorChangeText {
	0% {color: #A9B4E9;}
	25% {color: #82E8BF;}
	50% {color: #E8D377;}
	75% {color: #CBA3EF;}
	100% {color: #A9B4E9;}
}

@-o-keyframes colorChange {
	0% {background-color: #A9B4E9;}
	25% {background-color: #82E8BF;}
	50% {background-color: #E8D377;}
	75% {background-color: #CBA3EF;}
	100% {background-color: #A9B4E9;}
}

@-o-keyframes colorChangeText {
	0% {color: #A9B4E9;}
	25% {color: #82E8BF;}
	50% {color: #E8D377;}
	75% {color: #CBA3EF;}
	100% {color: #A9B4E9;}
}

@keyframes colorChange {
	0% {background-color: #A9B4E9;}
	25% {background-color: #82E8BF;}
	50% {background-color: #E8D377;}
	75% {background-color: #CBA3EF;}
	100% {background-color: #A9B4E9;}
}

@keyframes colorChangeText {
	0% {color: #A9B4E9;}
	25% {color: #82E8BF;}
	50% {color: #E8D377;}
	75% {color: #CBA3EF;}
	100% {color: #A9B4E9;}
}