body {
	overflow-x: hidden;
}

.main {
	width: 85%;
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 75px;
}

.fun .main,
.contact .main {
	width: 60%;
}

footer {
	background-color: #343434;
	padding: 50px 12.5%;
	color: #D6D6D6;
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			margin: 0;
			display: inline-block;
			a {
				color: #A7B2E6;
				margin-right: 15px;
				font-size: 2em;
			}
			a:hover {
				color: #fff;
			}
		}
	}
}